*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS Code Latin', sans-serif;
}

body{
    background-image: url("../Recursos/matrix.gif");
    display: flex;
    flex-direction: column;
    position: relative;
 }
header{
    background-color:rgb(23, 26, 26);
    box-shadow: 5px 2px 5px gray;
    border: solid 1px gray;
    position: sticky;
    grid-column: span 5;
    left: 0px;
    top: 0px;
}

section{
    
    background-color: rgb(10, 67, 76);
    position: fixed;
    width: 50px;
    height: 300px;
    top: 35px;
    left:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    box-shadow: 5px 2px 5px whitesmoke;
}
footer{
    width:100%;
    height:25px;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    border: solid 1px gray;
    grid-column: 2/6;
    background-color:rgb(23, 26, 26);
    color: aliceblue;
    position: fixed;
    bottom: 0px;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items:center;
}

h1{
    color: aliceblue;
    font-size: 15px;
    padding-left: 10px;
    padding-top: 5px;
    text-align: center;
    
}

h1:hover{
    color:rgb(17, 255, 17);
    font-size: 20px;
 }

a{
    color: aliceblue;
    text-decoration: none;
}
a:hover{
    color: rgb(17, 255, 17);
    font-size: 30px;
}
#menu{
    position:static;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

li{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid rgb(17, 255, 17);
    list-style: none;
    width: 100%;
    height: 100%;
    text-align: center;
}
article{
    
    grid-column: 2/6;
    grid-row: span 3;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#frase{
    color: aliceblue;
    font-family:'Playfair Display', serif;
    font-size: 35px;
    text-align: center;
    grid-column: span 5;
    padding: 50px;
    padding-left: 75px;
    text-shadow: 5px 5px 5px rgb(10, 67, 76);
    

}
img.redsocial{
    width: 30px;
    height: 30px;
    background-color: green;
    border-radius: 50%;
    
}

img.redsocial:hover{
   background-color: greenyellow;
   box-shadow: 5px 2px 5px whitesmoke;
   width: 75px;
   height: 75px;   
}
#insta{
    border-radius: 10px;

}
div{
    display: grid;
    grid-column: 2/6;
    
}
img{
    width: 125px;
    height: 75px;
}
img:hover{
    box-shadow: 5px 2px 5px whitesmoke;
}

#MenuP{
    
   
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content:stretch;
    align-items: center;
    bottom: 25px;
    left:0;
    background-color: rgb(23, 26, 26);
    width: 100%;
    height: 50px;

}
#yo{
position: fixed;
right:0;
top: 35px;
width: 50px;
height: 50px;
border-radius: 50%;
box-shadow: 5px 2px 5px whitesmoke;
margin-right: 10px;
}
#yo:hover{
    width: 75px;
    height: 75px;
}

@keyframes moveAround {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  /* animacion tp*/
  #ModeloTP{
      width: 175px;
      height: 175px;
      background-color: rgba(10, 67, 76, 0.555);
      position:fixed;
      top: 50%;
      left: 30%;
      border-radius: 50%;
      box-shadow: none;
  }
  #TP {
      position:absolute;
      top:calc(50%-100px);
      left:calc(50%-100px);
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: rgba(240, 248, 255, 0);
      animation: moveAround 2s infinite linear;
    } 
    #TPL{
      position: absolute;
      top: calc(50%-100px);
      left:calc(50%-100px);
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: rgba(240, 248, 255, 0);
      animation: moveAround 3s infinite linear;

    }
  
    #sol{
        width: 30px;
        height:30px;
        border-radius: 50%;
        box-shadow: 20px 10px 20px 20px  white, inset 10px 10px 20px 20px rgba(251, 255, 0, 0.651);
    }
    #luna{
        width: 25px;
        height:25px; 
    }
    #estrellas{
      position: absolute;
      top: calc(50%-135px);
      left: calc(50%-135px);
      width: 135px;
      height: 135px;
      border-radius: 50%;
      animation: moveAround 10s infinite linear;
      z-index: 1;
      opacity: 50%;
    }
  
    #tierraPlana{
        position: absolute;
        border-radius: 50%;
        top:calc(50%-140px);
        left:calc(50%-140px);
        width: 140px;
        height:140px;
    }

@media only screen and (min-width: 420px){
    

#frase{
    font-size: 35px;
    padding: 100px;
    padding-left: 75px;
    text-shadow: 5px 5px 5px rgb(10, 67, 76);
}

}


@media only screen and (min-width: 768px){
/* animacion tp*/
#ModeloTP{
    width: 250px;
    height: 250px;
    background-color: rgba(10, 67, 76, 0.555);
    position:fixed;
    top:40%;
    left: 40%;
    border-radius: 50%;
    box-shadow: none;
}
#TP {
    position:absolute;
    top: calc(50%-130px);
    left:calc(50%-130px);
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: rgba(240, 248, 255, 0);
    animation: moveAround 2s infinite linear;
  } 
  #TPL{
    position: absolute;
    top: calc(50%-130px);
    left:calc(50%-130px);
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: rgba(240, 248, 255, 0);
    animation: moveAround 3s infinite linear;

  }

  #sol{
      width: 45px;
      height:45px;
      border-radius: 50%;
      box-shadow: 20px 10px 20px 20px  white, inset 10px 10px 20px 20px rgba(251, 255, 0, 0.651);
  }
  #luna{
      width: 35px;
      height:35px; 
  }
  #estrellas{
    position: absolute;
    top: calc(50%-135px);
    left: calc(50%-135px);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: moveAround 10s infinite linear;
    z-index: 1;
    opacity: 50%;
  }

  #tierraPlana{
      position: absolute;
      border-radius: 50%;
      top:calc(50%-140px);
      left:calc(50%-140px);
      width: 200px;
      height:200px;
  }

    #frase{
        font-size: 50px;
        padding: 75px;
        padding-left: 80px;
        text-shadow: 10px 5px 5px rgb(10, 67, 76);
    }
    

}
@media only screen and (min-width: 1000px){

    #frase{
        width: 500px;
        font-size: 55px;
        padding: 75px;
        padding-left: 200px;
        margin-left: 100px;
        padding-right: 0;
        text-shadow: 10px 5px 5px rgb(10, 67, 76);
    }
  /* animacion tp*/
#ModeloTP{
    width: 350px;
    height: 350px;
    background-color: rgba(10, 67, 76, 0.555);
    position:fixed;
    top:10%;
    left: 55%;
    border-radius: 50%;
    box-shadow: none;
}
#TP {
    position:absolute;
    top: calc(50%-130px);
    left:calc(50%-130px);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgba(240, 248, 255, 0);
    animation: moveAround 2s infinite linear;
  } 
  #TPL{
    position: absolute;
    top: calc(50%-130px);
    left:calc(50%-130px);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgba(240, 248, 255, 0);
    animation: moveAround 3s infinite linear;

  }

  #sol{
      width: 70px;
      height:70px;
      border-radius: 50%;
      box-shadow: 20px 10px 20px 20px  white, inset 10px 10px 20px 20px rgba(251, 255, 0, 0.651);
  }
  #luna{
      width: 50px;
      height:50px; 
  }
  #estrellas{
    position: absolute;
    top: calc(50%-135px);
    left: calc(50%-135px);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    animation: moveAround 10s infinite linear;
    z-index: 1;
    opacity: 50%;
  }

  #tierraPlana{
      position: absolute;
      border-radius: 50%;
      top:calc(50%-140px);
      left:calc(50%-140px);
      width: 300px;
      height:300px;
  }

    #frase{
        font-size: 50px;
        padding: 75px;
        padding-left: 80px;
        text-shadow: 10px 5px 5px rgb(10, 67, 76);
    }
    

}

@media only screen and (max-height: 350px){
    #frase{
        width: 300px;
        color: aliceblue;
        font-family:'Playfair Display', serif;
        font-size: 25px;
        text-align: center;
        grid-column: span 5;
        padding: 50px;
        padding-top: 80px;
        padding-left: 20px;
        text-shadow: 5px 5px 5px rgb(10, 67, 76);
        
    
    }
/* animacion tp*/
#ModeloTP{
    width: 175px;
    height: 175px;
    background-color: rgba(10, 67, 76, 0.555);
    position:fixed;
    top:10%;
    left:55%;
    border-radius: 50%;
    box-shadow: none;
}
#TP {
    position:absolute;
    top:calc(50%-100px);
    left:calc(50%-100px);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(240, 248, 255, 0);
    animation: moveAround 2s infinite linear;
  } 
  #TPL{
    position: absolute;
    top: calc(50%-100px);
    left:calc(50%-100px);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(240, 248, 255, 0);
    animation: moveAround 3s infinite linear;

  }

  #sol{
      width: 30px;
      height:30px;
      border-radius: 50%;
      box-shadow: 20px 10px 20px 20px  white, inset 10px 10px 20px 20px rgba(251, 255, 0, 0.651);
  }
  #luna{
      width: 25px;
      height:25px; 
  }
  #estrellas{
    position: absolute;
    top: calc(50%-135px);
    left: calc(50%-135px);
    width: 135px;
    height: 135px;
    border-radius: 50%;
    animation: moveAround 10s infinite linear;
    z-index: 1;
    opacity: 50%;
  }

  #tierraPlana{
      position: absolute;
      border-radius: 50%;
      top:calc(50%-140px);
      left:calc(50%-140px);
      width: 140px;
      height:140px;
  }
  
      section{
    
        background-color: rgb(10, 67, 76);
        position: fixed;
        width: 300px;
        height: 50px;
        top: 35px;
        left:0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-around;
        box-shadow: 5px 2px 5px whitesmoke;
    }
}